h1{
    font-size:24px ;
    color: #f9faf8;
    margin-top: 0;
    padding: 20px;
    width: 200px;
    height: 200px;;
}
body{
    margin: 0;
}

header{
    background-color: #1f2937;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
header a {
    margin-top: 10px;
    padding: 10px;;
}
