body{
    background-image: url(https://images.unsplash.com/photo-1620931275765-b8bfa51ddad0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
}


img{
    width: 25%;
    margin: calc(25%/6);

}
img:hover{
          transform: scale(1.2);  
}